<IfModule mod_mime.c>
  # Brotli compressed files
  AddEncoding br .br
  AddType application/octet-stream .data.br
  AddType application/wasm .wasm.br
  AddType application/javascript .js.br
  AddType application/octet-stream .symbols.json.br
</IfModule>

<IfModule mod_rewrite.c>
  RewriteEngine On
  
  # Serve pre-compressed br files
  RewriteCond %{HTTP:Accept-Encoding} br
  RewriteCond %{REQUEST_FILENAME}.br -f
  RewriteRule ^(.*)$ $1.br [L]
</IfModule>